/************************************************/
/***************CRIM SETTING CSS*****************/
/********************  BY ***********************/
/*************   umbaa@naver.com    *************/
/************************************************/

*{margin:0;padding;0}
img{border:none;}
a{text-decoration:none;}
/*** LEFT RIGHT ***/
.f_left{float:left !important;}
.f_right{float:right !important;}

/** COLOR **/
.white{color:#FFF !important;}
.black{color:#000 !important;}
.red{color:#fe0000 !important;}
.blue{color:#0153a7 !important;}
.yellow{color:#ff9900 !important;}
.green{color:#015f20 !important;}
.purple{color:#cc00ff !important;}
.gray{color:#999 !important;}

/** FONT **/

.f_b{font-weight:bold !important;}


/** MARGIN **/

.m_t_5{margin-top:5px !important;}
.m_t_10{margin-top:10px !important;}
.m_t_15{margin-top:15px !important;}
.m_t_20{margin-top:20px !important;}
.m_t_25{margin-top:25px !important;}
.m_t_30{margin-top:30px !important;}
.m_t_35{margin-top:35px !important;}
.m_t_40{margin-top:40px !important;}
.m_t_45{margin-top:45px !important;}
.m_t_50{margin-top:50px !important;}
.m_t_55{margin-top:55px !important;}
.m_t_60{margin-top:60px !important;}
.m_t_65{margin-top:65px !important;}
.m_t_70{margin-top:70px !important;}
.m_t_75{margin-top:75px !important;}
.m_t_80{margin-top:80px !important;}
.m_t_85{margin-top:85px !important;}
.m_t_90{margin-top:90px !important;}
.m_t_95{margin-top:95px !important;}
.m_t_100{margin-top:100px !important;}

.m_r_5{margin-right:5px !important;}
.m_r_10{margin-right:10px !important;}
.m_r_15{margin-right:15px !important;}
.m_r_20{margin-right:20px !important;}
.m_r_25{margin-right:25px !important;}
.m_r_30{margin-right:30px !important;}
.m_r_35{margin-right:35px !important;}
.m_r_40{margin-right:40px !important;}
.m_r_45{margin-right:45px !important;}
.m_r_50{margin-right:50px !important;}
.m_r_55{margin-right:55px !important;}
.m_r_60{margin-right:60px !important;}
.m_r_65{margin-right:65px !important;}
.m_r_70{margin-right:70px !important;}
.m_r_75{margin-right:75px !important;}
.m_r_80{margin-right:80px !important;}
.m_r_85{margin-right:85px !important;}
.m_r_90{margin-right:90px !important;}
.m_r_95{margin-right:95px !important;}
.m_r_100{margin-right:100px !important;}

.m_b_5{margin-bottom:5px !important;}
.m_b_10{margin-bottom:10px !important;}
.m_b_15{margin-bottom:15px !important;}
.m_b_20{margin-bottom:20px !important;}
.m_b_25{margin-bottom:25px !important;}
.m_b_30{margin-bottom:30px !important;}
.m_b_35{margin-bottom:35px !important;}
.m_b_40{margin-bottom:40px !important;}
.m_b_45{margin-bottom:45px !important;}
.m_b_50{margin-bottom:50px !important;}
.m_b_55{margin-bottom:55px !important;}
.m_b_60{margin-bottom:60px !important;}
.m_b_65{margin-bottom:65px !important;}
.m_b_70{margin-bottom:70px !important;}
.m_b_75{margin-bottom:75px !important;}
.m_b_80{margin-bottom:80px !important;}
.m_b_85{margin-bottom:85px !important;}
.m_b_90{margin-bottom:90px !important;}
.m_b_95{margin-bottom:95px !important;}
.m_b_100{margin-bottom:100px !important;}

.m_l_5{margin-left:5px !important;}
.m_l_10{margin-left:10px !important;}
.m_l_15{margin-left:15px !important;}
.m_l_20{margin-left:20px !important;}
.m_l_25{margin-left:25px !important;}
.m_l_30{margin-left:30px !important;}
.m_l_35{margin-left:35px !important;}
.m_l_40{margin-left:40px !important;}
.m_l_45{margin-left:45px !important;}
.m_l_50{margin-left:50px !important;}
.m_l_55{margin-left:55px !important;}
.m_l_60{margin-left:60px !important;}
.m_l_65{margin-left:65px !important;}
.m_l_70{margin-left:70px !important;}
.m_l_75{margin-left:75px !important;}
.m_l_80{margin-left:80px !important;}
.m_l_85{margin-left:85px !important;}
.m_l_90{margin-left:90px !important;}
.m_l_95{margin-left:95px !important;}
.m_l_100{margin-left:100px !important;}

/** PADDING **/

.p_l_5{padding-left:5px !important;}
.p_l_10{padding-left:10px !important;}
.p_l_15{padding-left:15px !important;}
.p_l_20{padding-left:20px !important;}
.p_l_25{padding-left:25px !important;}
.p_l_30{padding-left:30px !important;}
.p_l_35{padding-left:35px !important;}
.p_l_40{padding-left:40px !important;}
.p_l_45{padding-left:45px !important;}
.p_l_50{padding-left:50px !important;}
.p_l_55{padding-left:55px !important;}
.p_l_60{padding-left:60px !important;}
.p_l_65{padding-left:65px !important;}
.p_l_70{padding-left:70px !important;}
.p_l_75{padding-left:75px !important;}
.p_l_80{padding-left:80px !important;}
.p_l_85{padding-left:85px !important;}
.p_l_90{padding-left:90px !important;}
.p_l_95{padding-left:95px !important;}
.p_l_100{padding-left:100px !important;}

.p_t_5{padding-top:5px !important;}
.p_t_10{padding-top:10px !important;}
.p_t_15{padding-top:15px !important;}
.p_t_20{padding-top:20px !important;}
.p_t_25{padding-top:25px !important;}
.p_t_30{padding-top:30px !important;}
.p_t_35{padding-top:35px !important;}
.p_t_40{padding-top:40px !important;}
.p_t_45{padding-top:45px !important;}
.p_t_50{padding-top:50px !important;}
.p_t_55{padding-top:55px !important;}
.p_t_60{padding-top:60px !important;}
.p_t_65{padding-top:65px !important;}
.p_t_70{padding-top:70px !important;}
.p_t_75{padding-top:75px !important;}
.p_t_80{padding-top:80px !important;}
.p_t_85{padding-top:85px !important;}
.p_t_90{padding-top:90px !important;}
.p_t_95{padding-top:95px !important;}
.p_t_100{padding-top:100px !important;}

.p_r_5{padding-right:5px !important;}
.p_r_10{padding-right:10px !important;}
.p_r_15{padding-right:15px !important;}
.p_r_20{padding-right:20px !important;}
.p_r_25{padding-right:25px !important;}
.p_r_30{padding-right:30px !important;}
.p_r_35{padding-right:35px !important;}
.p_r_40{padding-right:40px !important;}
.p_r_45{padding-right:45px !important;}
.p_r_50{padding-right:50px !important;}
.p_r_55{padding-right:55px !important;}
.p_r_60{padding-right:60px !important;}
.p_r_65{padding-right:65px !important;}
.p_r_70{padding-right:70px !important;}
.p_r_75{padding-right:75px !important;}
.p_r_80{padding-right:80px !important;}
.p_r_85{padding-right:85px !important;}
.p_r_90{padding-right:90px !important;}
.p_r_95{padding-right:95px !important;}
.p_r_100{padding-right:100px !important;}

.p_b_5{padding-bottom:5px !important;}
.p_b_10{padding-bottom:10px !important;}
.p_b_15{padding-bottom:15px !important;}
.p_b_20{padding-bottom:20px !important;}
.p_b_25{padding-bottom:25px !important;}
.p_b_30{padding-bottom:30px !important;}
.p_b_35{padding-bottom:35px !important;}
.p_b_40{padding-bottom:40px !important;}
.p_b_45{padding-bottom:45px !important;}
.p_b_50{padding-bottom:50px !important;}
.p_b_55{padding-bottom:55px !important;}
.p_b_60{padding-bottom:60px !important;}
.p_b_65{padding-bottom:65px !important;}
.p_b_70{padding-bottom:70px !important;}
.p_b_75{padding-bottom:75px !important;}
.p_b_80{padding-bottom:80px !important;}
.p_b_85{padding-bottom:85px !important;}
.p_b_90{padding-bottom:90px !important;}
.p_b_95{padding-bottom:95px !important;}
.p_b_100{padding-bottom:100px !important;}

.p_5{padding:5px !important;}
.p_10{padding:10px !important;}
.p_15{padding:15px !important;}
.p_20{padding:20px !important;}
.p_25{padding:25px !important;}
.p_30{padding:30px !important;}
.p_35{padding:35px !important;}
.p_40{padding:40px !important;}
.p_45{padding:45px !important;}
.p_50{padding:50px !important;}
.p_55{padding:55px !important;}
.p_60{padding:60px !important;}
.p_65{padding:65px !important;}
.p_70{padding:70px !important;}
.p_75{padding:75px !important;}
.p_80{padding:80px !important;}
.p_85{padding:85px !important;}
.p_90{padding:90px !important;}
.p_95{padding:95px !important;}
.p_100{padding:100px !important;}

p {
  word-break:keep-all;
  white-space:-moz-pre-wrap;
  white-space:-pre-wrap;
  white-space:-o-pre-wrap;
  word-wrap:break-word;
}